<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <span th:hidden="hidden" id="pull_left">
                              <button type="button" class="btn  btn-primary"
                                      onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>保存
                        </button>
                        </span>

                        <span id="sp" hidden="hidden">
                        <button type="button" class="btn  btn-primary" id="is_all_btn" onclick="checkAll()">
                            全选
                        </button>
                        </span>
                        <span id="sp0" hidden="hidden">
                        <button type="button" class="btn  btn-primary" id="selectNone"
                                onclick="selectNone()">
                            全不选
                        </button>
                        </span>
                        <span id="sp1" hidden="hidden">
                        <button type="button" class="btn  btn-primary"
                                onclick="archived()">
                            已归档
                        </button>
                        </span>
                        <span id="sp2" hidden="hidden">
                        <button type="button"
                                class="btn  btn-danger"
                                onclick="open_source()">
                            已开源
                        </button>
                        </span>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="load()">扫描</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <!--请输入要扫描的路径：-->
                        <input id="searchName" type="text" class="form-control"
                               placeholder="请输入要扫描的路径...">
                    </div>
                </div>
                <form>
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var opens = 'hidden';
        var archives = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="archiveCheck:tProject:openSource">
    <script type="text/javascript">
        opens = '';
    </script>
</div>
<div shiro:hasPermission="archiveCheck:tProject:archiveSource">
    <script type="text/javascript">
        var archives = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/archeiveCheck/tProject/tProject.js"></script>
</body>
</html>